Question 1

In [1]:
a=input("Enter string  ")
c=0
for i in range(len(a)):
  c=c+1
print("Length of string " + a + " is" , + c)

Enter string  Alston
Length of string Alston is 6

Question 2

In [2]:
a = "aabbccc"
all_freq = {} 
  
for i in a: 
    if i in all_freq: 
        all_freq[i] += 1
    else: 
        all_freq[i] = 1

print ("Count of all characters is :\n "
                                        +  str(all_freq))

Count of all characters is :
 {'a': 2, 'b': 2, 'c': 3}

Question 3

In [3]:
a=input("Enter string  ")
if (len(a)<=2) :
  print("Empty string")
else:
  b=a[0:2] + a[-2:]
  print("New string formed is ", b)

Enter string  Alston
New string formed is  Alon

Question 4

In [4]:
a=input("Enter 1st string ")
b=input("Enter 2nd string ")
new_a = b[:2] + a[2:]
new_b = a[:2] + b[2:]
e= new_a + " " + new_b
print(e)

Enter 1st string Alston
Enter 2nd string Quadros
Quston Aladros

Question 5

In [5]:
a=input("Enter a string ")
b=a[-3:]
if(len(a)>=3):
  if(b=="ing"):
    a= a + "ly"
    print(a)
  else:
    a= a + "ing"
    print(a)
else:
  print(a)

Enter a string easing
easingly

Question 6

In [7]:
l = []  
n = int(input("Enter number of elements : "))  
for i in range(0, n): 
    e = (input()) 
    l.append(e)  
max_len = -1
for e in l: 
    if len(e) > max_len: 
        max_len = len(e) 
        res = e 
print("Longest string is : " + res)
print("Length of longest string is", len(res))

Enter number of elements : 3
I
am
Alston
Longest string is : Alston
Length of longest string is 6

Question 7

In [10]:
str1=input("Enter your string ")
char = str1[0]
str1 = str1.replace(char, '$')
str1 = char + str1[1:]
print("New string is ", str1)

Enter your string Alston
New string is  Alston

Question 8

In [11]:
def np(str1):
  stnot = str1.find('not')
  stpoor = str1.find('poor')
  if stpoor > stnot and stnot>0 and stpoor>0:
    str1 = str1.replace(str1[stnot:(stpoor+4)], 'good')
    return str1
  else:
    return str1
s=input("Enter your string ")
print(np(s))

Enter your string Alston is not poor
Alston is good

Question 9

In [12]:
s=input("Enter the string:")
n=int(input("Enter the index of the character to be removed:"))
first = s[:n]   
last = s[n+1:]
print("String formed after removing character is ", first+last)

Enter the string:Alston
Enter the index of the character to be removed:4
String formed after removing character is  Alstn

Question 10

In [13]:
s=input("Enter the string:")
f=s[:1]
l=s[-1:]
newstr= l + s[1:-1] + f
print("New string formed is ", newstr)

Enter the string:Alston
New string formed is  nlstoA

Question 11

In [14]:
s=input("Enter a string ")
newstr=s[0::2]
print("New string formed after removing odd characters is", newstr)

Enter a string Alston
New string formed after removing odd characters is Aso

Question 12

In [15]:
def word_count(str):
    counts = dict()
    words = str.split()
    for word in words:
        if word in counts:
            counts[word] += 1
        else:
            counts[word] = 1
    return counts
s=input("Enter your sentence ")
print( word_count(s))

Enter your sentence I am the one the gun I am nothing but the best
{'I': 2, 'am': 2, 'the': 3, 'one': 1, 'gun': 1, 'nothing': 1, 'but': 1, 'best': 1}

Question 13

In [16]:
s=input("Enter a string ")
print("String in uppercase : ",s.upper())
print("String in lowercase : ",s.lower())

Enter a string Happy Birthday
String in uppercase :  HAPPY BIRTHDAY
String in lowercase :  happy birthday

Question 14

In [17]:
items = input("Input comma separated sequence of words ")
words = [word for word in items.split(",")]
print(",".join(sorted(list(set(words)))))

Input comma separated sequence of words one two three four
one two three four

Question 15

In [18]:
def add_tags(tag, word):
	return "<%s>%s</%s>" % (tag, word, tag)
a=input("Enter HTML tag ")
b=input("Enter the sentence ")
print(add_tags(a,b))

Enter HTML tag H1
Enter the sentence Hello
<H1>Hello</H1>